*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --color-background: #E9EAEC;
    --color-text: #333652;
    --primary-fs: 2rem;
    --color-yellow: #FAD02C;
    --color-blue-gray:#90ADC6;
}


body{
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: var(--primary-fs);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 2rem;
}

#calculator{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 300px;
    gap: 1rem;
    border: 1px solid red;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#output{
    height: 60px;
    border: 5px solid var(--color-text);
    border-radius: 5px;
}

#numbers{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}


button{
    border: 1px solid red;
    /* border: none; */
    background-color: var(--color-blue-gray);
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: var(--primary-fs);
}

button:hover{
    background-color: var(--color-yellow);
    cursor: pointer;
}

