* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #e9eaec;
  --color-background-dark: #000;
  --color-text: #333652;
  --color-text-dark: #ff0000;
  --primary-fs: 1.5rem;
  --color-yellow: #fad02c;
  --color-blue-gray: #90adc6;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--primary-fs);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 2rem;
}

body.dark-mode{
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}

#calculator {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 300px;
  gap: 1rem;
  border: 1px solid red;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#output {
  height: 60px;
  border: 5px solid var(--color-text);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.3rem;
  caret-color: red;
}

#numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5,1fr);
  gap: 1rem;
}

.btn {
  border: 1px solid red;
  background-color: var(--color-blue-gray);
  border-radius: 50%;
  display: flex;
  justify-self: center;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: var(--primary-fs);
}

.zero{
  height: 100%;
  grid-row: 4/6;
  grid-column: 2/3;
  border-radius: 5px;
}

.equal{
  grid-row: 5/6;
  grid-column: 3/5;
  border-radius: 5px;
  width: 90%;
}

.btn:hover {
  background-color: var(--color-yellow);
  cursor: pointer;
}

#footer{
  font-size: 1.2rem;
}
